<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for p in productsList %}
    <div>
        <h2>{{p.name}}</h2>
        <img src={{p.img_url}} alt="">
        <p>{{p.description}}</p>
        <p>{{p.price}}</p>
        <button onclick="addToCart( {{p.id}} )">
            Add to Cart
        </button>
    </div>
    {% endfor %}
    
</body>

<script>
    function addToCart(productId){
        console.log('add to cart -->', productId);
        
        fetch("/cart" , {
            headers: {
                "Content-Type": "application/json",
            },
            method: "POST",
            body:JSON.stringify({
                user_id:1,
                product_id:productId,
                amount:1
            })
        })
        .then(function(res){ return res.json(); })
        .then(function(data){
            alert( JSON.stringify( data ) ) 
        })
    }
</script>
</html>